<mat-card class="dialog-card">
  <!-- Encabezado de la modal con el título y botón de cerrar -->
  <div class="dialog-header">
    <h2>{{ data.title }}</h2>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Imagen principal del seminario -->
  <img [src]="data.image" alt="Seminar image" class="main-image" />

  <!-- Descripción y comentario -->
  <div class="description">{{ data.description }}</div>
  <div><i>{{ data.comment }}</i></div>

  <!-- Lista de videos -->
  <!-- <div class="videos">
    <div *ngFor="let video of data.videos" class="video-container">
      <video [src]="video" class="video-thumb" controls></video>
    </div>
  </div> -->
</mat-card>
