.footer-section {
  background: #000;
  color: #fff;
  padding: 40px 0;
}

.card {
  background: #222;
  color: white;
  border: none;
}

.card i {
  margin-bottom: 10px;
  color: #ff5e14;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 1rem;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li a {
  color: #aaa;
  text-decoration: none;
}

.footer-content ul li a:hover {
  color: #ff5e14;
}

/* Logo Styling */
.logo-img {
  max-width: 150px;
  margin-bottom: 10px;
}

/* Social Media Buttons */
.btn-facebook {
  background: #3b5998;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
}

.btn-youtube {
  background: #cb2028;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    text-align: center;
  }
}

/* WhatsApp Image Styling */
.whatsapp {
  width: 80px; /* Set the desired width */
  height: 80px; /* Set the desired height */
  margin-top: 10px; /* Optional: Adds margin to the top */
  cursor: pointer; /* Change cursor to pointer for a clickable effect */
}

.whatsapp:hover {
  opacity: 0.8; /* Optional: Adds hover effect */
}


.footer-card-link {
  text-decoration: none; /* Remove underline */
  color: white; /* Ensure icons and text are white by default */
}

.footer-card-link:hover {
  color: #ff5e14; /* Add a hover effect, change the color */
}

.big-title {
  font-size: 1.5rem; /* Adjust this value to make the title larger or smaller */
  font-weight: bold;
}

/* Increase the icon size */
.big-icon {
  font-size: 2.5rem; /* Increase the size of the icon */
}