<div class="container-fluid bg-black text-white p-3">
    <footer class="page-footer shadow">
      <div class="d-flex flex-column mx-auto py-5" style="width: 80%">
        <div class="d-flex flex-wrap justify-content-between">
          <div class="align-items-left">
       
              <span class="ms-3 h5 font-weight-bold"> <i class="fa-sharp fa-solid fa-eye-slash"></i>Vision withou Eyes</span>
    
          </div>
          <div>
            <p class="h5 mb-4" >Vision withou Eyes</p>
            <ul class="p-0" style="list-style: none; cursor: pointer">
              <li class="my-2">
                <a class="text-dark" href="/">Resources</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/">About Us</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/">Contact</a>
              </li>
              <li class="my-2"><a class="text-dark" href="/">Blog</a></li>
            </ul>
          </div>
          <div>
            <p class="h5 mb-4" style="font-weight: 600">Help</p>
            <ul class="p-0" style="list-style: none; cursor: pointer">
              <li class="my-2">
                <a class="text-dark" href="/">Support</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/">Sign Up</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/">Sign In</a>
              </li>
            </ul>
          </div>
          <div>
            <p class="h5 mb-4" style="font-weight: 600">Help</p>
            <ul class="p-0" style="list-style: none; cursor: pointer">
              <li class="my-2">
                <a class="text-dark" href="/">Support</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/">Sign Up</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/">Sign In</a>
              </li>
            </ul>
          </div>
        </div>
        <small class="text-center mt-5">&copy; Vision withou Eyes, 2024. All rights reserved.</small>
      </div>
    </footer>
  </div>