    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid  mb-0   p-3">
            
          <h2 class="m-0 text-primary p-3"> <i class="bi-eye-slash-fill"></i> Vision Without Eyes</h2>
          <!-- este boton aparece cuando se achica la pantalla -->
          <button class="navbar-toggler  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#"><i class="bi-house-fill"></i> Home</a> 
              </li>
              <li class="nav-item">

                <a class="nav-link" aria-current="page" href="#"><i class="bi-envelope-open-fill"></i> About Us</a> 

                <!-- <a class="nav-link" href="#">Features</a> -->
              </li>
              <li class="nav-item">
                <a class=" nav-link " aria-current="page" href="#"><i class="bi-people-fill"></i> Contact Us</a> 
              </li>
            </ul>
          </div>
        </div>
      </nav>