.fill-space {
    flex: 1 1 auto;
  }




  @media screen and (max-width: 480px) {
   
  }
  
  @media (max-width: 600px) {
    .fill-space {
      display: none;
    }
    .fixed-top {
      position: static;
      transition: .5s;
     }
  }

.navbar {
    width: 100%;
    max-height: 500px;
    background-color: #0b0b0b;
    overflow: auto;
  }
  

  .navbar a {
    float: left;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
 
    
  }


  .navbar a:hover {
    background-color: #081426 50%;
    color: #7ba9ed;
    transition: 0.8s all;
  } 


 