
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid ceneter">
        <a href="#" class="navbar-brand">VWE</a>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  " id="navbarCollapse">
            <div class="navbar-nav  ms-auto ">
               
               <!--   <a href="#" class="nav-item nav-link">Profile</a>
                <a href="#" class="nav-item nav-link">Messages</a>
                <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> -->
            </div>
            <div class="navbar-nav ms-auto ">
                <a routerLink="/workshops" class="nav-item nav-link active">Workshops</a>
                <a href="#" class="nav-item nav-link disabled">Login</a>
            </div>
        </div>
    </div>
</nav>
