 <!-- Carousel  -->

 <div id="carouselExampleCaptions" class="carousel slide carousel-fade "  data-bs-ride="carousel">
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <div class="overlay "></div> 
        <img src="assets/img/roblaura.png" class="d-block w-100 bg-image" alt="blindfold">
        <div class="carousel-caption  text-center centerTextCarousel">
        <p class="titulogrande display-1 m-0 fontResponsive " > Learning To See Blindfolded</p>

        <p class=" titulogrande text-white m-0 fontResponsive ">Seeing Beyond the Visual Engage Your Inner Vision</p>
        </div>

      </div>
      <div class="carousel-item">
        <div class="overlay"></div> 
        <img src="assets/img/robmark.jpg" class="d-block w-100 bg-image"  alt="...">
        <div class="carousel-caption  text-center centerTextCarousel">

          <p class="titulogrande display-1 fontResponsive m-0 "> Learning To See Blindfolded</p>
          <p class=" titulogrande text-white fontResponsive  m-0 ">Empower your mind  Learning Beyond Sight</p>
        </div>
      </div>
    </div>

