
<section class="titulo bg-black">
    
  <div class="container" style="width: 100%; height: 30% bg-black">

    <div class="col bg-black">
      <div
        class="container p-0 align-items-center justify-content-center bg-black"
      >
        <h1 class="titulo3">Event Information</h1>

        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed titulo4"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                <i class="fa-regular fa-calendar-days px-2"></i>
                Date/Time
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                The event will run Sunday, January 26, 2025 at 10 AM - Friday,
                January 31, 2025 at 5 PM.
                <p>
                  Classes from 10 AM - 5 PM every day with 1 hour lunch and two
                  15 minute breaks.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed titulo4"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                <i class="fa-solid fa-bed px-2"></i>
                Accomodation
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <p>
                  We are excited to offer an affordable and luxurious
                  accommodation for your stay in the Orlando area!
                </p>
                To help keep costs down, we have secured three large luxury
                vacation homes at a private resort, located just 37 minutes from
                Orlando International Airport. Each home features 8 private
                bedrooms, and you’ll enjoy 7 nights in a private bedroom for
                only $700 USD.
                <p></p>
                <p>
                  Check-in is on Saturday afternoon, January 25, with check-out
                  on Saturday morning, February 1. All three homes are within
                  walking distance of each other, as well as the
                  seminar/workshop venue.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed titulo4"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                <i class="fa-solid fa-hand-holding-dollar px-2"></i>
                Cost
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <p>
                  Join us for the VWE seminar/workshop in the Orlando area,
                  paired with luxury accommodations at a private resort.
                </p>

                <p>Cost</p>
                $1,295 USD for the seminar/workshop, including all materials and
                daily lunch.
                <p>
                  $700 USD for 7 nights in a private bedroom at one of three
                  luxury vacation homes.
                </p>
                <P>
                  Check-in is Saturday, January 25, and check-out is Saturday,
                  February 1.
                </P>
                <p>
                  All homes are within walking distance of the seminar venue.
                </p>
                <p>
                  The total cost is $1,995 USD, with a 50% deposit of $997.50
                  USD due upon registration and the balance due 30 days later.
                </p>
                <p>Cancellation Policy</p>
                If your plans change, you may cancel and receive a full refund
                by December 20. After this date, no refunds can be provided, as
                we may not be able to fill the spot before the seminar/workshop.
                We look forward to welcoming you!
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading4">
              <button
                class="accordion-button collapsed titulo4"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapse4"
                aria-expanded="false"
                aria-controls="flush-collapse4"
              >
                <i class="fa-regular fa-calendar-check px-2"></i>
                How to book the seminar ?
              </button>
            </h2>
            <div
              id="flush-collapse4"
              class="accordion-collapse collapse"
              aria-labelledby="flush-heading4"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <p></p>
                To reserve your spot for the Orlando seminar/workshop, please
                email
                <a href="mailto:robfreeman@look.ca" rel="noopener noreferrer"
                  >robfreeman&#64;look.ca</a
                >
                with the following details:

                <p></p>

                <ul>
                  <li>Full Name</li>
                  <li>Address</li>
                  <li>Cellphone Number</li>
                  <li>
                    Indication of your interest in signing up for the Orlando
                    seminar/workshop
                  </li>
                  <li>
                    Any vision-related issues (if applicable), so we can
                    prioritize you accordingly
                  </li>
                </ul>

                <p>
                  Registrations are processed on a "first come, first served"
                  basis. Once all spots are filled, a waiting list will be
                  maintained for potential cancellations and future events.
                </p>

                <p>
                  <strong>Note:</strong> Registration closes on
                  <strong>December 20, 2024</strong>, or earlier if all spots
                  are filled.
                </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading5">
              <button
                class="accordion-button collapsed titulo4"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapse5"
                aria-expanded="false"
                aria-controls="flush-collapse5"
              >
                <i class="fa-solid fa-hand-holding-dollar px-2"></i>
                Seminar Overview and Important Information
              </button>
            </h2>
            <div
              id="flush-collapse5"
              class="accordion-collapse collapse"
              aria-labelledby="flush-heading5"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <h2>Transportation</h2>
                <p>
                  Participants are responsible for arranging their own
                  transportation to and from Orlando Airport. However, to
                  facilitate ride-sharing, we have created a WhatsApp group
                  where participants can coordinate among themselves. Many
                  attendees may choose to rent cars for the duration of the
                  seminar.
                </p>

                <h2>Why In-Person Matters</h2>
                <p>
                  Attending our seminar/workshop in person significantly
                  accelerates the development of mindsight compared to online
                  sessions, which is why we no longer offer remote options. In
                  our most recent in-person seminar, 8 out of 13 participants
                  achieved full "real-time mindsight" by the 6th day. The
                  remaining participants reached the intuitive mindsight level
                  and will continue practicing to advance further.
                </p>
                <p>
                  <a href="https://bit.ly/48R9s0Q" target="_blank"
                    >Full Mindsight Experience</a
                  >
                </p>

                <h2>Alumni Opportunities</h2>
                <p>
                  If you wish to attend future seminars to further develop your
                  mindsight, you may join as an "alumni" at no additional
                  seminar cost. Alumni are only responsible for their meals,
                  accommodation, and transportation.
                </p>

                <h2>Post-Seminar Support</h2>
                <p>
                  After the seminar, we offer exclusive group practice and
                  support sessions for in-person attendees who wish to maintain
                  and enhance their mindsight. Once mindsight is activated,
                  online practice becomes effective. These sessions are
                  complimentary for the first month following the seminar. After
                  that, a monthly fee of $100 USD applies, covering a minimum of
                  8 sessions (2 per week). Additional sessions may be offered at
                  no extra charge, depending on Rob's schedule.
                </p>
                <p>
                  <a
                    href="https://youtube.com/@seeingblindfoldedpractice-8029"
                    target="_blank"
                    >Practice Sessions on YouTube</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
