body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}

/* fonts */
  .subtitle {
 
    font-weight: 600;
    font-style:oblique;
    font-size: 3rem;
    font-family: "Audiowide", sans-serif;
  }

