<div class="container-fluid  bg-black text-white mb-0 pb-0 pt-4">
  <div class="container-fluid pl-5 px-4 text-justificado texto_lectura"></div>

  <div class="text-center pt-4">
    <hr class="rounded" />
    <h1 class="mb-0 titulo2">Some of Our Classes</h1>
    <div

      id="videos"
      class="container d-flex align-items-center justify-content-center position-relative flex-wrap"
    >
      <div
        class="card d-flex position-relative flex-column bg-black text- block"
      >
        <div class="imgContainer">
          <iframe
            id="video"
            frameborder="0"
            allowfullscreen
            src="https://www.youtube.com/embed/Y8Pfc71Os68?si=X3tisk1eNueRlQs5?rel=0"
          >
          </iframe>
        </div>
        <div class="content text-white text-box">
          <h2>Seeing with Patches and Mask</h2>

          <p class="container d-flex text-justificado">
            Student Dani Gonzalez put on eye patches plus the mask, to prove she
            is not peeking with her eyes somehow.
          </p>
        </div>
      </div>
      <div class="card d-flex position-relative flex-column bg-black block">
        <div class="imgContainer">
          <iframe
            id="video"
            frameborder="0"
            allowfullscreen
            src="https://www.youtube.com/embed/wcTXv1bTGU8?si=PzUvDZnsruX3o1LJ"
          >
          </iframe>
        </div>
        <div class="content text-white">
          <h2>Participants Speak at VWE Seminar / Workshop</h2>
          <p>
            These adults are demonstrating & describing their full “seeing the
            room in real time” mindsight..
          </p>
        </div>
      </div>
      <div class="card d-flex position-relative flex-column bg-black block">
        <div class="imgContainer">
          <iframe
            id="video"
            frameborder="0"
            allowfullscreen
            src="https://www.youtube.com/embed/7MXo5fRlJzQ?si=OOEz6DYj6pEqN5YB?rel=0"
          >
          </iframe>
        </div>
        <div class="content text-white">
          <h2>Blind Since a Boy, Now Seeing</h2>
          <p>
            Student Robert Geoffroy, 100% blind, sees colours, letters, numbers,
            symbols and picture cards with his mindsight.
          </p>
        </div>
      </div>
      <div class="card d-flex position-relative flex-column bg-black block">
        <div class="imgContainer">
          <iframe
            frameborder="0"
            allowfullscreen
            src="https://www.youtube.com/embed/i4qOUZj7GuU?si=y7WMbgzBLdVFKtdI"
          >
          </iframe>
        </div>
        <div class="content text-white">
          <h2>Claudia Demonstrates “Seeing In Real Time” with Mindsight</h2>
          <p>
            The seminar / workshop participants ask Claudia to do various tasks
            while blindfolded / with eye patches.
          </p>
       
        </div>
      
      </div>
   
    </div>

  </div>

</div>
