<div class="container-fluid d-flex  p-3  " >
  <div class="wrapper  " style="margin: 0px; padding-left:3%; padding-top: 2% !important; ">
    <h1 class="subtitle text-center titulo2" >Welcome to Vision Without Eyes (VWE)</h1>
    <img src="/assets/img/blind.jpeg" class="img-fluid rounded  tamano " alt="© Meta AI">
     <div class="text-box texto_lectura">
        <h1 class="titulo3"> Learning To See Blindfolded </h1>
        <p>In general, the younger you are, the faster it happens. 
          We are all born with an incredible, innate ability to see 
          and read without using our eyes—it is a remarkable, God-given gift, 
          just like learning to read, write, or do math! Everyone has the right to unlock this extraordinary skill. While some schools teach it with their own unique twist, often mixing in religious beliefs, this amazing practice is on the brink of becoming mainstream, ready to be embraced by parents and taught in schools everywhere!. 
        </p>
          <p>Imagine this: people of all ages—including those in their 70s and 80s—are successfully 
            learning to read and see blindfolded! We have been passionately practicing for years, and we can perceive vibrant colors, dynamic numbers, letters, symbols, and even full images while blindfolded, whether in bright rooms or complete darkness. We’ve explored five different methods, and while many schools or practitioners might claim to have the "only true way," that’s simply not the case! This incredible ability has been discovered independently by many throughout history, and now it's your turn!
        </p>
          <p>
            Many ask you to sign NDAs to keep their techniques under wraps, 
            but we firmly believe that everyone deserves the right to learn and share this knowledge freely. Our vision is not only to empower sighted individuals to see blindfolded but also to uplift blind individuals and those facing significant vision challenges, helping them unlock their incredible "mindsight."
          </p> 
          <p>In the videos below, you will be amazed to see students who are completely blind successfully using their mindsight to perceive the world around them! Don’t miss the chance to scroll down and check out our upcoming seminar and workshop events, where you can fast-track the opening of your mindsight in a dynamic, supportive group setting. Go and check our seminar workshops section, where you’ll witness participants actively working on their tasks and showcasing how they learned to see blindfolded!.</p>
     </div>
</div>