<div class="container-fluid text-center p-3 ">
    <h1 >Welcome to Vision Without Eyes</h1>
    <h1>Learning To See Blindfolded.</h1>
    <p>In general, the younger you are, the faster it happens. 
        We're ALL born with this innate ability to see and read without our eyes. 
        It's both a God given ability, and EVERYONE has the right to learn it, just like we learn reading, writing and math in school. 
        There are many schools globally, teaching this, and each has it's own "secret" spin. 
        The truth is, we all can do it, it's a natural thing.  Our goal is to teach blind folk to "see the room in real time", read normally and function just like we do with our natural eyes.</p>
    
    <p></p>
  </div>