<div class="container-fluid d-flex  p-3  " >
  <div class="wrapper  " style="margin: 0px; padding-left:3%; padding-top: 2% !important; ">
    <h1 class="subtitle text-center titulo2" >Welcome to Vision Without Eyes (VWE)</h1>
    <img src="/assets/img/blind.jpeg" class="img-fluid rounded  tamano " alt="...">
     <div class="text-box texto_lectura">
        <h1 class="titulo3"> Learning To See Blindfolded </h1>
        <p>In general, the younger you are, the faster it happens. 
          We're ALL born with this innate ability to see / read without eyes. It's a God given ability and 
          EVERYONE has the right to develop it, like reading, writing and math in school. Many schools teach it 
          with their own spin or attaching religion. Eventually it'll be mainstream, 
          taught by parents and in school. Everyone can do it but for sure, it’s a natural thing, it's just easier when 
          you're younger. People in their 70s / 80s are blindfold reading. </p>
          <p>Rob and Wendy have been practicing since 2017,
          seeing colours, numbers, letters, symbols and images blindfolded, in lit or 100% dark rooms, as well seeing the room, 
          with full motion. Rob and Wendy have learned 5 different methods and each, as well as others, think they have the ONLY way,
          NOT TRUE. Every method think they originally discovered it, NOT TRUE. Many people discovered it independently from 
          others in different time periods, over the centuries.</p>
          <p>Many ask you to sign an NDA not to disclose their way but 
          Rob and Wendy believe ALL have the right to learn and freely spread it. Rob and Wendy’s vision is to not just help 
          those with sight who would like to see blindfolded, but both have a passion to help blind folk and those with 
          significant vision issues to open their mindsight as well. </p> 
          <p>In the videos below, you will see students who are 
          100% blind, seeing with their mindsight. Scroll down the page to view upcoming seminar / workshop events where 
          you can accelerate your mindsight to open, in a group, in-person setting.</p>
     </div>

    

</div>