<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<hr class="rounded" />
<section class="titulo">
  <div class="container-fluid text-center nomargin text-white bg-black">
    <h1 class="title text-white pt-3">Current Event</h1>

    <div class="row">
      <!-- priemra columna -->
      <div class="col">
        <div class="container pb-0 pt-2 px-2">
          <img
            class="imagen img-fluid rounded"
            src="/assets/img/event2.png"
            width="100%"
          />
        </div>
        
      </div>
      <!-- segunda columna -->
      <div class="card col-md-6 pl-5 px-5 bg-black text-white">
        <h2>
          <strong>An Epic Journey Beyond the Mind and Stars Seminar</strong>
        </h2>
        <h3>
          <strong>Mount Shasta, California, USA | August 9–17, 2025</strong>
        </h3>

        <div class="texto_lectura">
          <h4>
            ✨ Telekinesis - Mindsight - UFO Phenomena  ✨
            <a
              href="https://wa.me/+15198516450/?text=Hi Rob Freeman. I am interested in some information about the Vision Without Eyes Seminar."
            >
              <img
                class="whatsapp"
                src="/assets/img/whatsapp.png"
                alt="Whatsapp Icon"
              />
            </a>
          </h4>

          <div class="blinking-text">
            <div class="highlight-box">
              🌟 Event Price: $2,995 USD. Early Bird Offer: Get $250 off when you book your Mt. Shasta Event by June 27, 2025. <br />
            </div>
          </div>

          <p>
            <strong>Rob Freeman</strong> and the <strong>VWE team</strong> are
            thrilled to announce a <strong>one-of-a-kind event</strong>: the
            <strong>Epic Seminar – Three Events in One</strong> – taking place
            at <strong>Shasta View Lodge</strong> in
            <strong>Mt. Shasta, California, USA</strong>, from
            <strong>August 9th to 17th, 2025</strong>. Get ready for a
            <strong>transformational journey</strong> that blends
            <strong>telekinesis</strong>, <strong>inner vision</strong>, and
            <strong>cosmic exploration</strong>.
          </p>

          <p>
            This exclusive 9-day immersive experience begins with
            <strong>“Telekinesis Activation,”</strong> led by certified
            hypnotherapist <strong>Alex Stefan</strong>. Through hands-on
            training in <strong>hypnosis</strong>, <strong>NLP</strong>, and
            proven <strong>mind-matter techniques</strong>, you’ll
            <strong>awaken your inner energy systems</strong> and unlock your
            potential to <strong>influence matter with your mind</strong>.
          </p>

          <p>
            Next, deepen your awakening with
            <strong>“Mindsight Training – See Without Eyes.”</strong> Guided by
            <strong>Rob Freeman</strong>, <strong>Dalia Burgoin</strong>, and
            <strong>Nikki Williams</strong>, you’ll
            <strong>train your intuitive perception</strong> and learn to
            <strong>see in real-time while blindfolded</strong>. Through
            structured exercises and live demonstrations, you’ll enhance your
            <strong>spatial awareness</strong>, <strong>focus</strong>, and
            <strong>energetic sensitivity</strong>—unlocking perception beyond
            the physical senses.
          </p>

          <p>
            In the afternoons, turn your focus to the stars with
            <strong>“UFOs, UAPs & Skywatch,”</strong> featuring
            <strong>Rob Freeman</strong> and <strong>Mark McNabb</strong>, who
            will share incredible footage and stories from their expeditions to
            <strong>21+ countries</strong> --><a href="https://youtube.com/@robfreemanufoworldexplorer" target="_blank" class="btn">Rob Freeman UFO World Explorer Channel</a>.
            Special guest
            <strong>Dave Palachik</strong>, National Director Emeritus and Past
            Chief Investigator at <strong>MUFON Canada</strong>, will present
            <strong>compelling evidence of warp drive bubbles</strong> around
            documented ET craft.
          </p>

          <p>
            Evenings will be dedicated to <strong>Skywatch sessions</strong> at
            <strong>Shasta View Lodge</strong> and
            <strong>Mount Shasta</strong>, where you’ll sit beneath the stars
            and witness
            <strong>aerial phenomena beyond the visible spectrum</strong>. Rob
            will capture it all with
            <strong>cutting-edge multi-spectrum tech</strong>, while you observe
            using your <strong>newly awakened Mindsight</strong>.
          </p>

          <p>
            <strong>Accommodation</strong> is available at the venue,<strong>
              in Shasta View Lodge</strong
            >
            with options for private or shared cabins, elsewhere in McCloud, or
            nearby Mt Shasta.
          </p>

          <p>
            <strong
              >Check the Event Information tabs below for details on pricing, accommodations, transportation, and more.🚀</strong
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
