
 .blinking-text {
    animation: blink 1.5s linear infinite;
    text-align: center;
    margin-top: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .highlight-box {
    border: 2px solid #eeedea;
    border-radius: 12px;
    padding: 16px 24px;
    background-color: #070707;
    display: inline-block;
    box-shadow: 0 0 12px rgba(255, 193, 7, 0.4);
    font-size: 1.25rem;
    font-weight: bold;
    color: #cd8f32;
  }

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }


  /* evitar mucho espacio en el h3 entre reglon */
h3 {
  line-height: 1.2; /* Reduce el espacio entre líneas */
  margin-top: 0;    /* Elimina el margen superior */
  margin-bottom: 0; /* Elimina el margen inferior */
  padding: 0;       /* Opcional: elimina relleno si hay */
}

/* Container for the banner */
.banner-container {
 width: 100%;
  background-color: #4CAF50; /* You can change the background color */
  overflow: hidden;
  position: relative;
  padding: 10px 0; /* Add padding to adjust vertical spacing */
  background-color: red;
  margin-bottom: 10px;;
}

/* Styling for the moving text */
.banner-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  white-space: nowrap;

  animation: scroll-left 10s linear infinite; /* You can adjust the duration of scrolling */
}

/* Style for "Please reserve your seat..." text */
.reservation-text {
  margin-left: 20px; /* Add space between the two parts */
}

/* Add space between icons and text */
.banner-text i {
  margin: 0 10px; /* Adjust the space between icons and text */
}


 p {
    font-size: 1rem;
    color: #f3ebeb;
    margin: 15px 0;
  }

/* Animation for moving text */
@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}



/**********************/

h1, h2 {
  text-align: center;
  color: #eff2f6;
}
h2 {
  font-size: 1.5em;
}
h3 {
  color: #f2f3f5;
  font-size: 1.2em;
}

ul {
  list-style-type: disc; /* Adds bullet points */
  padding-left: 20px; /* Adds some space before the list items */
  text-align: left; /* Aligns the list items to the left */
}

.link {
  color: #2980b9;
  text-decoration: none;
}
/********************************************/

.whatsapp
{
  width: 15%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
   /* Start the shake animation and make the animation last for 0.5 seconds */
   animation: shake 0.99s;

   /* When the animation is finished, start again */
   animation-iteration-count: infinite;
}

.whatsapp:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@media (max-width: 600px)
{
  .whatsapp
  {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}

hr.rounded {
  border-top: 10px solid #bbb;
  border-radius: 10px;
 
}


.blink {
  animation: blink 5s steps(10, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.nomargin
{
margin-top: 0px;
padding-top: 0px;;

}

.container-fluid p {
    width: 100%;
    text-align: justify;
    
    
    
}



.accordion
{
    width: 100%;
    
background:rgb(232, 150, 27);
    /* background: transparent; */



}

.accordion-item
{

background:rgb(232, 150, 27);
border:none;

box-shadow: 2px 2px 8px black, -2px -2px 8px black ;
color: rgb(243, 239, 239);

}
.accordion-body{
    background: rgb(12, 12, 12);
    /* justifica el texto del acordeon  */
    text-align: justify;
}

.accordion-buttom
{
  
    font-family: "Poppins", sans-serif;
    font-size: 0.1rem;
    background-color:black !important;
    /* background: transparent; */
    padding: 0px !important;


  
}

#containerAccor  {
    display:flex;
    flex-direction:row;
    
   
  }
  
  .accordion-button::after{
    background-image: none;
    content:"\f0d7";
    font-family: fontawesome;
    font-size:x-large;
    width: auto;
    height: auto;
    
/* background:rgb(232, 150, 27); */
}

.accordion-button:not(.collapsed){
  background: rgba(0,0,0,0.1);
  color: black;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after{
  background-image: none;
  background: rgba(0,0,0,0.1);
  
}



  #left-column {
    width: 30%;
    height: auto;
    background-color: blue;
    
  }
  
  #right-column {
    background-color: red;
    width: 70%;
  }

  

  .imagen
  {
    border:none;
    box-shadow: 0 0 10px 35px rgba(113, 111, 111, 0.1);
    /* box-shadow: 2px 2px 8px rgb(15, 69, 29), -2px -2px 8px rgb(231, 223, 223) ;  */

  }
 

  a:link {
    color: rgb(234, 150, 102);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(234, 150, 102);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(214, 219, 80);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  




