<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<section class="titulo">
  <div class="container-fluid text-center nomargin text-white bg-black">
    <h1 class="titulo text-white">UPCOMING EVENT</h1>
    <hr class="rounded" />
    <div class="row">
      <!-- priemra columna -->
      <div class="col">
        <div class="container pb-0 pt-2 px-2">
          <img
            class="imagen img-fluid rounded"
            src="/assets/img/event2.png"
            width="100%"
          />
        </div>
      </div>
      <!-- segunda columna -->
      <div class="card col-md-6 pl-5 px-5 bg-black text-white">
        <h3><strong>Mindsight Training</strong></h3>
        <h3><strong>London, Ontario, Canada | May 4 - May 9, 2025</strong></h3>

      <!-- The "Coming Soon" banner -->

<div class="banner-container">
  <div class="banner-text">
    <i class="fas fa-calendar-alt"></i> Come to our  Mindsight Seminar in London, Ontario, Canada - May 4-9, 2025 
    | <i class="fas fa-ticket-alt"></i> Please reserve your spot...
  </div>
</div>

  
        <div class="texto_lectura">

          <h4>✨JOIN ROB FREEMAN & THE VWE TEAM FOR A LIFE-CHANGING MINDSIGHT SEMINAR/WORKSHOP: "SEEING WITHOUT EYES" ✨
            <a
            href="https://wa.me/+15198516450/?text=Hi Rob Freeman. I am interested in some information about the Vision Without Eyes Seminar."
          >
            <img
              class="whatsapp"
              src="/assets/img/whatsapp.png"
              alt="Whatsapp Icon"
            />
          </a>
          </h4>
          
          <p>Rob Freeman and the VWE team are excited to announce our upcoming Mindsight Seminar/Workshop in London, Ontario, Canada, from May 4 to May 9, 2025! This exclusive <strong>6-day training course</strong>, "Seeing Without Eyes," is designed to expand your mind, shift your perception, and unlock your true potential. Held at the serene <strong><a href="https://youtu.be/qPPbk1E2vKg" target="_blank">VWE Avalon Property</a></strong>, secluded in nature with breathtaking views of the Thames River, this tranquil environment offers the perfect setting for focused mindsight training, helping you connect deeply with your inner self and the world around you.</p>
      
          <p>Prepare to be amazed! Join us for an unforgettable experience as <strong>Claudia Frohlich</strong>, <strong>Dalia Burgoin</strong>, and <strong>Dani G Brito</strong> showcase their incredible mindsight abilities—seeing the room in real-time while blindfolded and with eye patches!</p>
          
        
          <p>Before the seminar begins, take advantage of this exclusive free session designed to help you optimize your experience and get the most out of the training. 
            This is the perfect opportunity to connect with fellow participants, get a head start on your journey, and step into the seminar feeling confident and ready! 🚀</p>
      
          <p><strong>Optional: (Extra pay)</strong> Take our 2 day, 8-hour training in total, before the main SEMINAR, "Mastering Psychokinesis with Hypnosis," led by <strong>Certified Hypnotherapist Alex Stefan</strong>. Unlock your <strong>psychokinetic abilities</strong> with hands-on training in <strong>hypnosis, NLP</strong>, and proven <strong>PK techniques</strong>. This immersive experience will push the boundaries of mind-matter interaction and help you unlock your true potential.</p>

          <p><strong>Accommodation:</strong> Each participant will be accommodated in either a <strong>shared</strong> or <strong>private apartment</strong> based on preference, located just 20 minutes away from the <strong>VWE Avalon Property</strong>.</p>


          <p><strong>Don’t miss out—join us for a truly life-changing seminar! 🚀 Check the Event Details below for more infromation.</strong></p>
          <!-- <h3> <strong>SEMINAR HIGHLIGHTS</strong></h3>
          <div class="seminar-highlight">
            <p>
              Experience the power of the mind in action, as participants will learn to push the boundaries 
              of what is possible. This seminar is designed to help you access deep states of awareness, 
              overcome limiting beliefs, and tap into your fullest potential.
            </p>
            
          </div>

          <div>
      
          </div>

          <h3> <strong>DAILY SCHEDULE</strong></h3>
          <p>
            Prepare for
            <strong>6 hours of intense and immersive training every day</strong
            >, designed to push your limits and open your mind.
          </p>
          <ul>
            <li>Enjoy a <strong>1-hour lunch break</strong> to recharge.</li>
            <li>
              Experience two <strong>15-minute breaks</strong> (morning and
              afternoon) to stay focused and energized.
            </li>
            <li>
              All workshop materials are included.
            </li>
          </ul>

          <p>
            This is more than just a seminar—it is an opportunity to be part of
            a powerful group of like-minded individuals on a shared journey of
            growth. The seminar will be held at a private resort, providing the
            ideal environment to focus, practice, and evolve without
            distractions.
          </p>

          <h3> <strong>LOOKING FORWARD TO SEEING YOU</strong></h3>
          <p>
            The VWE Team can not wait to meet you, work with you, and witness your
            transformation. You will leave this seminar with a whole new
            perspective—empowered, awakened, and ready to see the world in a
            completely new way.
          </p>

          <p>
            This is your moment. We are ready to help you unlock your
            mindsight—are you?
          </p> -->
        </div>
        
      </div>
    </div>
  </div>
</section>
