/* @media (max-width: 435px) {

  .titulo
{
 font-size: 4vh;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
}

.titulo2
{
 font-size: 3.2vh;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
}

.titulo3
{
 font-size: 3vh;
  font-family: "Crete Round", sans-serif;
}

.titulo4
{
 font-size: 2vh;
  font-family: "Crete Round", sans-serif;
}

.texto_lectura
{

  font-size: 2vh;
  font-family: "Crete Round", sans-serif;
  

} 


}


@media not (max-width: 435px) {
  .titulo
{
 font-size: 8vh;
  font-family:"Crete Round", sans-serif;
  font-weight: 400;
}

.titulo2
{
 font-size: 6vh;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
}

.titulo3
{
 font-size: 4vh;
  font-family: "Crete Round", sans-serif;
}

.titulo4
{
 font-size: 2.6vh;
  font-family: "Crete Round", sans-serif;
}

.texto_lectura
{

  font-size: 2.3vh;
  font-family: "Crete Round", sans-serif;
  

}  */

/********************************************/


hr.rounded {
  border-top: 10px solid #bbb;
  border-radius: 10px;
 
}


.blink {
  animation: blink 5s steps(10, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.nomargin
{
margin-top: 0px;
padding-top: 0px;;

}

.container-fluid p {
    width: 100%;
    text-align: justify;
    
    
    
}



.accordion
{
    width: 100%;
    
background:rgb(232, 150, 27);
    /* background: transparent; */



}

.accordion-item
{

background:rgb(232, 150, 27);
border:none;

box-shadow: 2px 2px 8px black, -2px -2px 8px black ;
color: rgb(243, 239, 239);

}
.accordion-body{
    background: rgb(12, 12, 12);
    /* justifica el texto del acordeon  */
    text-align: justify;
}

.accordion-buttom
{
  
    font-family: "Poppins", sans-serif;
    font-size: 0.1rem;
    background-color:black !important;
    /* background: transparent; */
    padding: 0px !important;


  
}

#containerAccor  {
    display:flex;
    flex-direction:row;
    
   
  }
  
  .accordion-button::after{
    background-image: none;
    content:"\f0d7";
    font-family: fontawesome;
    font-size:x-large;
    width: auto;
    height: auto;
    
/* background:rgb(232, 150, 27); */
}

.accordion-button:not(.collapsed){
  background: rgba(0,0,0,0.1);
  color: black;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after{
  background-image: none;
  background: rgba(0,0,0,0.1);
  
}



  #left-column {
    width: 30%;
    height: auto;
    background-color: blue;
    
  }
  
  #right-column {
    background-color: red;
    width: 70%;
  }

  

  .imagen
  {
    border:none;
    box-shadow: 0 0 10px 35px rgba(113, 111, 111, 0.1);
    /* box-shadow: 2px 2px 8px rgb(15, 69, 29), -2px -2px 8px rgb(231, 223, 223) ;  */

  }
 

  a:link {
    color: rgb(234, 150, 102);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(234, 150, 102);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(214, 219, 80);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  