<div class="container-fluid bg-black general pt-1">
    <div class='container col-md-10 mt-100'>
      <div class="header">
        <div class="title">Our Guest Demonstrators / Facilitators</div>
      </div>
      <div class="row justify-content-center pb-5">
        <!-- Loop through each demonstrator and display their info -->
        <div *ngFor="let demonstrator of demonstrators" class="card col-md-3 mt-100">
          <div class="card-content">
            <div class="card-body p-0">
              <div class="profile">
                <img [src]="demonstrator.imageUrl" [alt]="demonstrator.name">
              </div>
              <div class="card-title mt-4">
                {{ demonstrator.name }}<br />
                <small>{{ demonstrator.title }}</small>
              </div>
              <div class="card-subtitle">
                <p>
                  <small class="text-muted">
                    {{ demonstrator.description }}
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</div>
  
  