<div class='container  mt-5 col-md-10 mt-100 '>
    <div class="header">
        <div class="title">Our Guest Demonstrators / Facilitators</div>

    </div>
    <div class="row justify-content-center pb-5">

             <!-- dalia -->
             <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img src="assets/img/daly.JPG"> </div>
                        <div class="card-title mt-4"> Dalia Burgoin<br /> <small>Guest Demonstrator</small> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> We don't need to try and gain the ability to see without eyes, because we already have it. We need only to expand our perception and belief about our ability </small> </p>
                        </div>
                    </div>
                </div>
            </div>
          <!-- Alex -->
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img src="assets/img/alex.jpg"> </div>
                        <div class="card-title mt-4"> Alex Stefan<br /> <small>Guest Certified Hypnotherapist</small> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> "Is this real? Or has this been happening inside my head?”  “Of course it is happening inside your head, but why on earth should that mean that it is not real?. </small> </p>
                        </div>
                    </div>
                </div>
            </div>
    

          <!-- dany -->
          <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="assets/img/dany.jpeg"> </div>
                    <div class="card-title mt-4"> Daniela Gonzalez Brito<br /> <small>Guest Demonstrator</small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> Seeing without eyes feels like navigating the world through intuition, where perception goes beyond sight and understanding comes from a deeper place within. </small> </p>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg"> </div>
                    <div class="card-title mt-4"> David Gregory<br /> <small>Resident Dj at ibdc</small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> I always wanted cool videos of my concerts never knew whom to talk to but they are amazing! </small> </p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>                            
