<section id="card" class="pt-5">
  <div class="text-center">
    <h1 class="titulo2">Meet Our Team</h1>
    <h2 class="titulo2">VWE Team</h2>
  </div>
  <div class="container-fluid pb-4">
    <div class="row">
      <div class="col-md">
        <div class="card">
          <img src="assets/img/robfreeman.jpg" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title titulo2">Rob Freeman</h5>
            <p class="card-text titulo4">Director of VWE and Trainer</p>
            <p class="card-text texto_lectura">
              "I’ve always taken the road less travelled - for me, that is
              teaching mindsight to those who need it".
            </p>
            <div class="main">
              <!-- Facebook Icon -->
              <div class="icon fb">
                <a
                  href="https://www.facebook.com/groups/2485376505035437" rel="noopener noreferrer"
                >
                  <i class="fa-brands fa-facebook-f"></i>
                  <span class="text-white">Facebook</span>
                </a>
              </div>
              <!-- YouTube Icon -->
              <div class="icon yt">
                <a href="https://www.youtube.com/@seeingblindfoldedpractice-8029" rel="noopener noreferrer">
                  <i class="fa-brands fa-youtube"></i>
                  <span class="text-white">YouTube</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card">
          <img src="" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title titulo2"></h5>
            <p class="card-text titulo4"></p>
            <p class="card-text texto_lectura">
              "Coming soon".
            </p>
            <div class="main">
              <!-- Facebook Icon -->
              <div class="icon fb">
                <a href=""  rel="noopener noreferrer">
                  <i class="fa-brands fa-facebook-f"></i>
                  <span class="text-white">Facebook</span>
                </a>
              </div>
              <!-- YouTube Icon -->
              <div class="icon yt">
                <a href="" rel="noopener noreferrer">
                  <i class="fa-brands fa-youtube"></i>
                  <span class="text-white">YouTube</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card">
          <img src="assets/img/claudia.jpeg" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title titulo2">Claudia Frohlich</h5>
            <p class="card-text titulo4">Demonstrator/Trainer</p>
            <p class="card-text texto_lectura">
              “My mindsight has opened and learning to develop it further”.
            </p>
            <div class="main">
              <!-- Facebook Icon -->
              <div class="icon fb">
                <a href="https://www.facebook.com/claudia.frohlich.12?mibextid=LQQJ4d" rel="noopener noreferrer">
                  <i class="fa-brands fa-facebook-f"></i>
                  <span class="text-white">Facebook</span>
                </a>
              </div>
              <!-- YouTube Icon -->
              <div class="icon yt">
                <a href="">
                  <i class="fa-brands fa-youtube"></i>
                  <span class="text-white">YouTube</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
