/* General Styles */
body {
  font-family: Arial, sans-serif;
}

.bg-black {
  background-color: #000;
}

.text-white {
  color: white;
}

.titulo2 {
  font-size: 2.5em;
  font-weight: bold;
}


.titulo4 {
  font-size: 1.9em;
  font-weight: normal;
}

.texto_lectura {
  font-size: 1.4em; /* Reemplazo el '1e' por un valor de fuente legible */
  font-style: italic;
}

/* Card Styles */
.custom-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  transform: scale(0.75); /* Reducción del tamaño al 75% (25% más pequeño) */
}

.custom-card:hover {
  transform: scale(0.75) translateY(-10px); /* Mantiene la reducción del tamaño con el hover */
}

/* Buttons Styles */
.glass-btn {
  display: inline-block;
  padding: 18px 25px; /* Agrandar el tamaño del botón */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  margin: 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.glass-btn img {
  width: 70px; /* Agrandar los íconos de los botones (Facebook y YouTube) */
  height: auto;
  transition: width 0.3s;

}

/* Add hover effect for the YouTube button */
.btn-youtube:hover {
  background-color: #c1351d; /* Darker shade of red */
  transform: scale(1.1); /* Slight zoom-in effect */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Add hover effect for the Facebook button */
.btn-facebook:hover {
  background-color: #365899; /* Darker Facebook blue */
  transform: scale(1.1); /* Slight zoom-in effect */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.elegant-title {
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

