<section id="card" class="pt-1 bg-black">

  <div class="text-center text-white">
    <hr class="rounded" />
  
    <h1 class="titulo2">Meet the VWE Team</h1>
  
  </div>
  <div class="container ">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <!-- Card 1: Rob Freeman -->
      <div class="col">
        <div class="card custom-card">
          <img
            src="assets/img/robfreeman.jpg"
            class="card-img-top"
            alt="Rob Freeman"
          />
          <div class="card-body text-center">
            <h5 class="card-title titulo2">Rob Freeman</h5>
            <p class="card-text titulo4">Director of VWE and Trainer</p>
            <p class="card-text texto_lectura">
              "I’ve always taken the road less travelled - for me, that is
              teaching mindsight to those who need it."
            </p>
            <div class="d-flex justify-content-center gap-2">
              <!-- Facebook -->

              <!-- Large Button -->
              <a
                class="btn-youtube btn btn-lg text-white"
                data-mdb-ripple-init
                href="https://www.youtube.com/@visionwithouteyesRobFreeman"
                role="button"
                style="background-color: #ed302f"
                target="_blank"
              >
                <i class="fab fa-youtube fa-3x"></i>
              </a>

              <a
                class="btn-facebook btn text-white"
                data-mdb-ripple-init
                href="https://www.facebook.com/groups/2485376505035437"
                role="button"
                style="
                  background-color: #4267b2;
                  padding: 20px 40px;
                  font-size: 22px;
                "
                target="_blank"
              >
                <i class="fab fa-facebook fa-2x"></i>
              </a>

              <!-- <a href="https://www.facebook.com/groups/2485376505035437" class="btn btn-primary" target="_blank">
                <img src="https://i.postimg.cc/DwbWDQTx/facebook.png" alt="facebook" style="width: 4em;">
              </a>
              
              <a href="https://www.youtube.com/@seeingblindfoldedpractice-8029" class="btn btn-danger" target="_blank">
                <img src="https://i.postimg.cc/LstJ4Hhf/youtube.png" alt="youtube" style="width: 4em;">
              </a> -->
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2: Claudia Frohlich -->
      <div class="col">
        <div class="card custom-card">
          <img
            src="assets/img/claudia.jpeg"
            class="card-img-top"
            alt="Claudia Frohlich"
          />
          <div class="card-body text-center">
            <h5 class="card-title titulo2">Claudia Frohlich</h5>
            <p class="card-text titulo4">Demonstrator/Trainer</p>
            <p class="card-text texto_lectura">
              “My mindsight has opened and learning to develop it further”.
            </p>
            <div class="d-flex justify-content-center gap-2">
              <!-- Large Button -->
              <a
              class="btn-youtube btn btn-lg text-white"
              data-mdb-ripple-init
              href="https://www.youtube.com/@visionwithouteyesRobFreeman"
              role="button"
              style="background-color: #ed302f"
              target="_blank"
            >
                <i class="fab fa-youtube fa-3x"></i>
              </a>

              <a
                class="btn-facebook btn text-white"
                data-mdb-ripple-init
                href="https://www.facebook.com/claudia.frohlich.12?mibextid=LQQJ4d"
                role="button"
                style="
                  background-color: #4267b2;
                  padding: 20px 40px;
                  font-size: 22px;
                "
                target="_blank"
              >
                <i class="fab fa-facebook fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
