<section id="card" class="pt-5">
  <div class="text-center">
    <h1 class="titulo2">Meet Our Team</h1>
    <h2 class="titulo2">VWE Team</h2>
  </div>
  <div class="container-fluid pb-4">
    <div class="row">
      <div class="col-md">
        <div class="card">
          <img src="assets/img/robfreeman.jpg" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title titulo2">Rob Freeman</h5>
            <p class="card-text titulo4">Director of VWE and Trainer</p>
            <p class="card-text texto_lectura">
              "I’ve always taken the road less travelled - for me, that is
              teaching mindsight to those who need it".
            </p>
            <div class="main">
              <div class="button-container">
                <div class="glass-btn blue-btn">
                  <a href="https://www.facebook.com/groups/2485376505035437" rel="noopener noreferrer">
                    <img src="https://i.postimg.cc/DwbWDQTx/facebook.png" alt="facebook" style="width: 5.5em;">
                  </a>
                </div>
                <div class="glass-btn red-btn">
                  <a href="https://www.youtube.com/@seeingblindfoldedpractice-8029" rel="noopener noreferrer">
                    <img src="https://i.postimg.cc/LstJ4Hhf/youtube.png" alt="youtube" style="width: 6em;">
                  </a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card">
          <img src="assets/img/Dalia.png" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title titulo2">Dalia Burgoin</h5>
            <p class="card-text titulo4">Demonstrator</p>
            <p class="card-text texto_lectura">
              “We don't need to try and gain the ability to see without eyes, because we already have it. We need only to expand our perception and belief about our ability”.
            </p>
            <div class="main">
              <!-- Facebook Icon -->

            </div>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card">
          <img src="assets/img/claudia.jpeg" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title titulo2">Claudia Frohlich</h5>
            <p class="card-text titulo4">Demonstrator/Trainer</p>
            <p class="card-text texto_lectura">
              “My mindsight has opened and learning to develop it further”.
            </p>
            <div class="main">
              <div class="button-container">
                <div class="glass-btn blue-btn">
                  <a href="https://www.facebook.com/claudia.frohlich.12?mibextid=LQQJ4d" rel="noopener noreferrer">
                    <img src="https://i.postimg.cc/DwbWDQTx/facebook.png" alt="facebook" style="width: 5.5em;">
                  </a>
                </div>
              
                <div class="glass-btn red-btn">
                  <img src="https://i.postimg.cc/LstJ4Hhf/youtube.png" alt="youtube" style="width: 6em;">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




