<div class="container-fluid p-0 mx-auto">
  <div class="container container2 text-center" class="d-block p-0">
    <div class="row" style="height: 60%">
      
        

      <div class="container text-white">
        <img
          class="imagen img-fluid rounded"
          style="
            border: solid;
            border-color: transparent;
            box-shadow: 0px 0px 10px fade(#fff, 80%);
          "
          src="/assets/img/main.png"
        />
        
        
        <!-- <div class="container opcion border border-primary">       
                <img src="/assets/img/logoM0.png" class="  rounded-circle about-img-inner" width="23%" alt="Image">
            </div>  -->

        <!-- <div class="top-left1"><h1>Learning To See Blindfolded</h1></div> -->
        <!-- <div class="top-left2"><h1>Empower your mind Learning Beyond Sigh</h1></div> -->
       <div>
        <div class="top-right1 display-5">Learn To See Blindfolded</div>
        <div class="top-right2 display-2">Seeing Beyond Your Eyes</div>
        
        <div class="top-right21 display-2">Engage Your Inner Vision</div>
      

       
        <div class=" container container2 bg-animation">
            <div id="stars">
              
            </div>
            <div id="stars2"></div>
            <div id="stars3"></div>
            <div id="stars4"></div>
            
        </div>
    
    </div>

        <div>
          <!-- <div class="otrocontainer badge bg-transparent text-wrap  top-right3  " style="width: 45rem;"> <p>The younger you are, the faster it happens. We're ALL born with this 
                innate ability to see and read without our eyes.</p></div>
            </div> -->

          <!-- <div class="centered">

                Empower your mind Learning Beyond Sight</div> -->
        </div>

    
        
        <div class="col bg-black text-white"></div>
      </div>
    </div>
  </div>

</div>

