<div class="container-fluid mb-5">
  <h1 class="text-center">WHAT WE DO</h1>
  <h1 class="text-center">Our Training</h1>
  <div class="container-fluid py-10">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti
      amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius
      nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!
    </p>
  </div>
  <div class=" text-center">
<h1 > Most Recent Video</h1>
  <div class="container d-flex align-items-center justify-content-center position-relative" >
    
    <iframe  class="iframeMain  "
      src="https://www.youtube.com/embed?listType=playlist&list=UUFhQz-Eeni53WlN4il1QXAA"
    >
    </iframe>
  </div>


  <h1> Some of our classes</h1>
  <div
    id="videos"
    class="container d-flex align-items-center justify-content-center position-relative flex-wrap"
  >
    <div class="card d-flex position-relative flex-column bg-black">
      <div class="imgContainer">
        <iframe
          id="video"
          frameborder="0"
          allowfullscreen
          src="https://www.youtube.com/embed/Y8Pfc71Os68?si=X3tisk1eNueRlQs5?rel=0"
        >
        </iframe>
      </div>
      <div class="content text-white">
        <h2>Card One</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          eget velit tristique, sollicitudin leo viverra, suscipit neque.
          Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros
          commodo volutpat ac sed dolor.
        </p>
      </div>
    </div>
    <div class="card d-flex position-relative flex-column bg-black">
      <div class="imgContainer">
        <iframe
          id="video"
          frameborder="0"
          allowfullscreen
          src="https://www.youtube.com/embed/XBSmE5dShYg?si=lnRwFzXN3MPpFHgj?rel=0"
        >
        </iframe>
      </div>
      <div class="content text-white">
        <h2>Card Two</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          eget velit tristique, sollicitudin leo viverra, suscipit neque.
          Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros
          commodo volutpat ac sed dolor.
        </p>
      </div>
    </div>
    <div class="card d-flex position-relative flex-column bg-black">
      <div class="imgContainer">
        <iframe
          id="video"
          frameborder="0"
          allowfullscreen
          src="https://www.youtube.com/embed/nNo01ZYt8U8?si=gc-lSYLoPCK34UzT?rel=0"
        >
        </iframe>
      </div>
      <div class="content text-white">
        <h2>Card Three</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          eget velit tristique, sollicitudin leo viverra, suscipit neque.
          Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros
          commodo volutpat ac sed dolor.
        </p>
      </div>
    </div>
    <div class="card d-flex position-relative flex-column bg-black">
      <div class="imgContainer">
        <iframe
          frameborder="0"
          allowfullscreen
          src="https://www.youtube.com/embed/QtYTAWDL7hE?si=gJ1Rlr3P9wCnQx6Y?rel=0"
        >
        </iframe>
      </div>
      <div class="content text-white">
        <h2>Card Three</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          eget velit tristique, sollicitudin leo viverra, suscipit neque.
          Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros
          commodo volutpat ac sed dolor.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
