<div class="container-fluid mb-5 ">
  <h1 class="text-center">WHAT WE DO</h1>
  <h1 class="text-center">Our Training</h1>
  <div class="container-fluid py-10 px-5 text-justificado">
    <p > Rob and Wendy have been trained by several different instructors around the
      world since 2017 and none were based on anything religious or spiritual.
      Everything Rob and Wendy do is to get the participant to relax and “let go”
      of, or “calm” that notorious controlling left brain and  allow the things of
      the right brain (mindsight) to come through, it’s science /
      psychologically based.  </p>

      <p>There are many exercises they will do that also
      “distract” or “engage the left brain away from closing down the mindsight
      of the right brain, so it can come through. They view the intellectual,
      logical, reasoning, controlling left brain as an ego based “bully” that is
      always putting down / overpowering the weaker “child” located in the right
      brain, associated with mindsight. That bully has to be continually
      distracted or engaged, otherwise it will always go after the weaker child
      and subjugate it. You will hear Rob and Wendy suggest the participants do a
      meditation, from time to time, but it’s whatever the person likes to
      interpret that that means for them.</p>
      <p> They could be saying a mantra of their
      personal choice internally, they could simply go to a very calming place
      in their mind. It could be a beautiful beach, hearing the waves coming in,
      listening to the birds, the laughter of children. Anything which they know
      relaxes them. These are all proven / time tested methods to relax the mind
      (the left brain) and allow the mindsight of the creative, intuitive, sensing
      right brain to come through. </p>
      <p>They will also do various exercises to help
      sharpen the intuition as that goes hand in hand with actual mindsight. For
      example in the initial stages, a person may sense the colour is green, but
      they don’t actual see the green in the darkness of their visual field.
      Then when they lift their mask up, sure enough, the card is green. Then,
      with more exercises, they will actually start seeing a very vague haze of
      green as their mindsight opens. Then symbols, numbers, letters and images,
      etc. The ultimate goal is for folks to “see the room in real time”, with
      all motion and associated activity. </p>
      <p>It’s really not rocket science, a lot
      of it is just common sense and what Rob and Wendy have discovered over the
      last several years, to open their own mindsight, each teaching the other.
      Rob and Wendy are currently teaching blind folks and those with visual issues
      one to one online, and put on seminars / workshops for all persons, which
      in a group physical setting, greatly accelerates the mindsight to open.
      Check below for upcoming events and register early to enjoy a discount in
      the price to attend.
    </p>
  </div>
  <div class="text-center ">
    <h1>Most Recent Video</h1>
    <div class="container d-flex align-items-center justify-content-center position-relative pb-5">
      <iframe
        class="iframeMain"
        src="https://www.youtube.com/embed?listType=playlist&list=UUFhQz-Eeni53WlN4il1QXAA"
      >
      </iframe>
    </div>

    <h1 class=" mb-0 " >Some of our classes</h1>
    <div
      id="videos"  class="container  d-flex align-items-center justify-content-center position-relative flex-wrap">
      
      <div class="card d-flex position-relative flex-column bg-black text- block">

        <div class="imgContainer ">
          <iframe
            id="video"
            frameborder="0"
            allowfullscreen
            src="https://www.youtube.com/embed/Y8Pfc71Os68?si=X3tisk1eNueRlQs5?rel=0"
          >
          </iframe>
        </div>
        <div class="content text-white text-box ">
          <h2>Seeing with patches and mask.</h2>

          <p  class= "container d-flex text-justificado ">
            Student Dani Gonzalez, learned how to see blindfolded from Rob. 
            Many people think that somehow folks doing this are
            looking under the mask, but Dani put the opaque eye patches on, plus
            the mask, to prove differently.
          </p>
        </div>
     
      </div>
      <div class="card d-flex position-relative flex-column bg-black block">
        <div class="imgContainer">
          <iframe
            id="video"
            frameborder="0"
            allowfullscreen
            src="https://www.youtube.com/embed/QtYTAWDL7hE?si=gJ1Rlr3P9wCnQx6Y?rel=0"
     
          >
          </iframe>
        </div>
        <div class="content text-white">
          <h2>Four years blind and now Seeing.</h2>
          <p>Student Jeanetta describes Wendy's face on her first “blindfold seeing” teaching session.
          </p>
        </div>
      </div>
      <div class="card d-flex position-relative flex-column bg-black block">
        <div class="imgContainer">
          <iframe
            id="video"
            frameborder="0"
            allowfullscreen
            src="https://www.youtube.com/embed/7MXo5fRlJzQ?si=rZIsXaUAdl0gWeNP?rel=0"
          >
          </iframe>
        </div>
        <div class="content text-white">
          <h2>Blind since a boy now seeing.</h2>
          <p>
            Student Robert Geoffroy, 100% blind, sees colours, letters, numbers, symbols and picture cards with his mindsight.
          </p>
        </div>
      </div>
      <div class="card d-flex position-relative flex-column bg-black block">
        <div class="imgContainer">
          <iframe
            frameborder="0"
            allowfullscreen
            src="https://www.youtube.com/embed/mrgnbkdEFfo?si=IoI6BbMmBpS890mJ?rel=0"
          >
          </iframe>
        </div>
        <div class="content text-white">
          <h2>Overcoming Visual Challenges.</h2>
          <p>
            Student Mark is seeing multiple random playing cards blindfolded even with his visual impairment, using his mindsight.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
