@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    
    font-family: 'Poppins', sans-serif
}


.container .iframe
{
    position: relative;
    width:290px;
    height:200px;
  
    left:10px;
    z-index: 1;
 
}


.container .card
{
    max-width: 300px;
    height: 215px;
    margin: 30px 10px 70px;
    box-shadow: 0 35px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
 
}
.container .card:hover
{
    height: 400px;
}
.container .card .imgContainer
{
    position: relative;
    width:290px;
    height:200px;
  
    left:10px;
    z-index: 1;

}
.container .card .imgContainer img
{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

@media (max-width: 330px){
    .container .card .imgContainer{
        left: -2px;
    }
}




.iframeMain {
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 350px;
 }